


.bounceTop{
    animation: bounce-top 1s infinite both;
}

@keyframes bounce-top {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px);
    }
    50%
    {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}


@keyframes glowPulse {
    0% {
        box-shadow:
                0 0 8px rgba(90, 103, 216, 0.6),
                0 0 16px rgba(128, 90, 213, 0.4),
                0 0 24px rgba(73, 134, 213, 0.3);
    }
    50% {
        box-shadow:
                0 0 12px rgba(90, 103, 216, 0.8),
                0 0 24px rgba(128, 90, 213, 0.6),
                0 0 36px rgba(73, 134, 213, 0.5);
    }
    100% {
        box-shadow:
                0 0 8px rgba(90, 103, 216, 0.6),
                0 0 16px rgba(128, 90, 213, 0.4),
                0 0 24px rgba(73, 134, 213, 0.3);
    }
}

.glow-bar {
    animation: glowPulse 4s ease-in-out infinite;
}
